<!-- 에러가 발생한 경우 보여질 페이지 설정 -->
<!--<%@ page errorPage="${pageContext.request.contextPath}/WEB-INF/views/exceptionhandling/error404.jsp"%>-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2H59G05B23"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2H59G05B23');
</script>
<body>
<div id="page-wrapper">

    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div id="header" class="hy_count">
        <div class="container hy_wrap">
            <div class="main" style="alignment: center">
                <div class="main_wrap">
                    <div class="main_container">
                        <!--회원가입계정Start-->
                        <div class="main_left">
                            <form id="loginForm" method="post" style="height: 100%;">
                                <h3>로&nbsp;그&nbsp;인</h3>
                                <br/><br/><br/><br/>
                                <div style="height: 100%;">
                                    <div class="m_item">
                                        <label class="m_label">아이디：</label>
                                        <input class="m_input" id="name" name="name" placeholder="아이디 입력" type="text" />
                                    </div>
                                    <br/>
                                    <div class="m_item register_pw">
                                        <label class="m_label">비밀번호：</label>
                                        <input class="m_input" name="password" type="password" placeholder="비밀번호 입력" id="password" />
                                    </div>
                                    <br/><br/><br/>
                                    <div class="keep_login">
                                        <input type="checkbox" id="keepLogin" class="inp_radio" name="keepLogin"/>
                                        <label class="text_link">로그인 상태 유지</label>
                                    </div>
                                    <br/><br/><br/>
                                    <label class="m_label"></label>
                                    <input class="m_submit m_active" type="button" id="btn_login" value="로그인" th:onclick="login_submit()"/>
                                    <br/><br/><br/><br/>
                                    <div class="div_link">
                                        <a href="#" class="text_link">ID 찾기</a>
                                        <a href="#" class="text_link">비밀번호 찾기</a>
                                        <a href="/user/register" class="text_link">회원가입</a>
                                        <a href="/" class="text_link">메인으로</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--회원가입계정End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>

</div>
<script type="text/javascript" th:src="@{/js/user/login.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/user/user.css}" />
</body>
</html>