<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <!-- Header -->
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Logo -->
                    <h1>
                        <a href="/" id="logo">C & B Guidebook</a>
                    </h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <a href="/game/trumpcard">트럼프 카드</a>
                        <a href="/game/hwatu"> 화투</a>
                        <a href="/game/boardgame">보드게임</a>
                        <a href="/board/list">게시판</a>
                        <a href="/user/register">회원가입</a>
                        <a href="/user/login">로그인</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>
